---

---

<div
  transition:persist
  id="cursor"
  class="p-2 rounded-full pointer-events-none fixed"
>
</div>

<script>
  const move = document.getElementById("cursor");

  document.addEventListener("mousemove", (e) => {
    const { clientX, clientY } = e;

    move?.animate(
      {
        left: `${clientX}px`,
        top: `${clientY}px`,
      },
      { duration: 500, fill: "forwards" }
    );
  });
</script>

<style>
  #cursor {
    height: 1000px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: var(--ring-color);
  }
</style>
