---
import type { LocaleType } from "../i18n";
import { useTranslations } from "../i18n";
import SectionSelector from "./SectionSelector.astro";
import SocialLinks from "./SocialLinks.astro";
import Status from "./Status.astro";

const t = useTranslations(Astro.currentLocale as LocaleType);
---

<div
  class="resume-container transition-all duration-700 flex flex-col gap-4 md:justify-between justify-evenly md:w-1/3 w-full md:h-[60%] h-screen md:fixed md:top-auto top-0 py-8 md:bg-transparent md:px-0 px-10"
>
  <div class="flex flex-col gap-3">
    <h1 class="text-5xl font-bold title transition-all duration-700">
      {t("info.resume.name")}
    </h1>
    <h3 class="text-xl position transition-all duration-700">
      {t("info.resume.position")}
    </h3>
    <p class="text-base w-3/4 description transition-all duration-700">
      {t("info.resume.description")}
    </p>
    <Status status="unavailable" />
  </div>
  <SectionSelector />
  <SocialLinks />
</div>

<script>
  const clientWidth = document.documentElement.clientWidth;

  const title = document.querySelector(".title");
  const position = document.querySelector(".position");
  const description = document.querySelector(".description");
  const sectionSelector = document.querySelector(".nav-section");
  const resumeContainer = document.querySelector(".resume-container");
  const statusContainer = document.querySelector(".status-container");

  if (clientWidth < 768) {
    document.addEventListener("scroll", () => {
      const scrollY = window.scrollY;
      if (scrollY > 80) {
        title?.classList.remove("text-5xl");
        position?.classList.remove("text-xl");

        resumeContainer?.classList.add("backdrop-blur-lg");
        resumeContainer?.classList.remove("h-screen");
        resumeContainer?.classList.add("fixed");
        title?.classList.add("text-3xl");
        position?.classList.add("hidden");
        description?.classList.add("hidden");
        sectionSelector?.classList.add("hidden");
        statusContainer?.classList.add("hidden");
      } else {
        title?.classList.add("text-5xl");
        position?.classList.add("text-xl");

        title?.classList.remove("text-3xl");
        position?.classList.remove("hidden");
        description?.classList.remove("hidden");
        sectionSelector?.classList.remove("hidden");
        resumeContainer?.classList.remove("backdrop-blur-lg");
        resumeContainer?.classList.add("h-screen");
        resumeContainer?.classList.remove("fixed");
        statusContainer?.classList.remove("hidden");
      }
    });
  }
</script>
