---
import { useTranslations, type LocaleType } from "../i18n";
import type { SocialLink } from "../types/SocialLink";
import { Image } from "astro:assets";

const t = useTranslations(Astro.currentLocale as LocaleType);

const icons = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/icons/**.svg"
);
---

<nav class="nav-links">
  <ul class="flex gap-3">
    {
      t("info.social_links").map((link: SocialLink) => (
        <li>
          <a href={link.url} target="_blank">
            <Image
              src={icons[link.icon]()}
              alt={`${link.name} icon`}
              class="h-8 transition-all duration-200"
              width={32}
            />
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    img {
      filter: var(--filter-normal-state);

      &:hover {
        filter: var(--filter-emphasis-state);
        scale: 1.1;
      }
    }
  }
</style>
