---

---

<section
  class="md:grid md:grid-cols-2 flex flex-col md:w-[70%] h-full mx-auto md:pt-24"
>
  <aside>
    <slot name="aside" />
  </aside>
  <main class="pt-96 md:pt-0 md:w-full w-[85%] mx-auto">
    <slot name="main" />
  </main>
</section>
