---
import { ViewTransitions } from "astro:transitions";
import ChangeLanguage from "../components/ChangeLanguage";
import FollowMouseEffect from "../components/FollowMouseEffect.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta
      name="description"
      content="Explore the comprehensive portfolio of a seasoned Full-Stack Developer skilled in the latest technologies. Dive into a showcase of innovative projects, demonstrating expertise in front-end, back-end, and database management. Let’s build the future of tech together."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="min-h-screen h-full w-full max-w-[1920px] mx-auto">
    <header class="fixed top-2 right-4 z-50">
      <ChangeLanguage client:only="react" />
    </header>
    <main class="h-full w-full">
      <slot />
    </main>
    <FollowMouseEffect />
  </body>
</html>
